<img class="logo" src="http://goplango.com.s3.amazonaws.com/logo.png">

<div class="cities">
<% @cities.each do |city| %>
  <h2><%= link_to "#{city.name}", city %></h2>
  <%= link_to "Delete City", city, method: :delete, data: { confirm: "Are you sure?"} %>
  <%= link_to "Edit City", edit_city_path(city) %>

<% end %>

</div>
<%= @current_time %>
<hr>
<%= link_to "New City", new_city_path, class: "btn btn-primary" %>
<br><br>
<br><br>
<br><br>